{% extends 'EngiShopBundle::layout.html.twig' %}

{% block content %}
    <div class="well category-header">
        <h1 class="toggle">
            {{ category.name }}
            <button class="btn btn-link btn-xs pull-right">Zwiń <span class="glyphicon glyphicon-collapse-up"></span></button>
        </h1>
        <p class="description">{{ category.description }}</p>
    </div>

    <ul class="product-list">
        {% for product in category.activeProducts %}
            <li>
                {% include('EngiShopBundle:Product/_part:product.yml.twig') with {product: product} %}
            </li>
        {% endfor %}
    </ul>

    <script type="text/javascript">
        $(function() {
            var $header = $('.category-header');
            var $description = $header.find('.description');
            var $button = $header.find('button');

            $('.toggle').click(function() {
                $description.toggle();
                var html = $description.is(':visible') ? 'Zwiń <span class="glyphicon glyphicon-collapse-up"></span>' : 'Rozwiń <span class="glyphicon glyphicon-collapse-down"></span>';
                $button.html(html);
            });
        });
    </script>
{% endblock %}

