/* Globals */
a:hover,
a:active,
a:focus {
    text-decoration: none;
}
/* ------- */

/* Helper Classes */
.bold { font-weight:bold }
.inline { display: inline }
.inline-block { display: inline-block }
.center-content { text-align: center }
.contain-floats { overflow:hidden }
.field-wrap { overflow: hidden; margin: 10px 0; }
.toggle { cursor: pointer }
.flex-container { display: flex }
.col-narrow { width: 1px }
.margin-top { margin-top: 20px }
/* -------------- */

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-weight: bold;
}

#wrapper-main {
    max-width: 1300px;
    margin: 0 auto;
}

#sidebar-main {
    float: left;
    max-width: 280px;
    margin-right: 10px;
    padding: 0;

}

#sidebar-main h4 {
    text-align: center;
}

#sidebar-main > ul {
    padding: 0;
    list-style-type: none;
}

#sidebar-main > ul li a {
    display: block;
    width: 100%;
    padding: 2px 60px;
}

#sidebar-main > ul li a:hover {
    border-right: 1px solid dodgerblue;
    padding-right: 59px;
    background-color: #e3e3e3;
}

#sidebar-main > ul li a.active {
    border-right: 3px solid dodgerblue;
    padding-right: 57px;
    background-color: #d8d8d8;
    font-weight: bold;
}

#login-wrap,
#register-wrap {
    margin: 0 auto;
    padding: 30px;
}

#login-wrap {
    max-width: 500px;
}

#register-wrap {
    max-width: 1000px;
}

#footer {
    margin-top: 50px;
    text-align: center;
}

#footer .author span {
    display: block;
}

.buttons-wrap {
    float: right;
}

.table-empty-row {
    text-align: center;
}

td.actions {
    text-align: right;
}

.form-errors,
.required-marker {
    color: red;
}

.form-errors ul {
    padding: 0;
}

.form-errors li {
    list-style-type: none;
}

.info-note {
    font-size: 10px;
    color: grey;
}

.category-list,
.product-list {
    list-style-type: none;
    padding: 0;
}

.category-list li,
.product-list li {
    display: inline-block;
    margin-right: 10px;
}

.category-list li:last-child {
    margin-right: 0;
}

.category {
    display: inline-block;
    width: 300px;
}

.category h2 a,
.product h2 a,
h1.toggle {
    color: #333;
}

.category h2 a:hover,
.product h2 a:hover,
h1.toggle:hover {
    color: #337ab7;
}

.product {
    width: 300px;
}

.product img {
    max-width: 230px;
    margin: 0 auto;
}

.description-elipsis {
    color: #5b5b5b;
}

.count-small {
    font-size: 0.8em;
    color: gray;
}

.product-bottom {
    margin-top: 10px;
}

.product-bottom > * {
    flex-grow: 1;
    padding: 0 5px;
}

.price-box {
    margin-top: 20px;
}

.price {
    font-weight: bold;
}

.add-to-cart {
    margin-top: 20px;
}

.form-control.input-narrow {
    width: 70px
}

.discount-input {
    margin-bottom: 50px;
}

.discount {
    color: #008614;
    font-weight: bold;
}

.user-details {
    padding: 10px 150px 10px 10px;
    border-radius: 5px;
    display: inline-block;
    background: #ddd;
}

.user-details > span {
    display: block;
}

.user-name {
    font-size: 1.3em;
}

.edit-profile {
    margin-left: 10px;
    margin-top: 5px;
}