{% extends 'EngiShopBundle::layout.html.twig' %}

{% block content_main %}
    <div id="login-wrap" class="well">
        <div id="form-login" class="panel panel-primary">
            <div class="panel-heading bold">
                <span class="glyphicon glyphicon-user"></span> Zaloguj się
            </div>
            <div class="panel-body">
                <form action="{{ path('engishop_front_login_check') }}" method="post">
                    <label for="username">Nazwa użytkownika lub email:</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />

                    <label for="password">Hasło:</label>
                    <input class="form-control" type="password" id="password" name="_password" />

                    {% if error %}
                        <div class="form-errors">{{ error.message }}</div>
                    {% endif %}

                    <button class="btn btn-primary pull-right margin-top" type="submit">Zaloguj <span class="glyphicon glyphicon-chevron-right"></span></button>
                </form>
            </div>
        </div>
    </div>
{% endblock content_main %}